/* h2{
    color:blueviolet
}
p{
    text-align: center;
    font-size: 25px;
    color:brown
}


/*       to target class we use .     */


/* .par{
    color:aquamarine
} */


/*     to target id we use #     */
/* #av{
    color:blue
} */




/* 
#av2{
    color:rgb(27, 102, 0)
}



div{height: 10px;
    width: 500px;
    color:rgb(13, 222, 9); */
    /* background-color: aqua; */
    /* text-align: center; */
    /* for vertical alignment */
    /* align-content: top; 
    padding: 30px;
    margin: 50px;
    border: 2px solid red;
} */

            /* latest */

/* .container
{
    display: grid;
   height: 500px;
   width: 500px;
   background-color: lightgrey;
   border: 2px solid black;
   grid-template-columns: repeat(4,100px);
   grid-template-rows: repeat(3,1fr);
   grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
   column-gap: 10px;
   justify-items: center ;
   align-items: center;
   justify-content: space-around;
   align-content: space-around;
}
.item{
    border: 2px solid black;
    background-color: lightblue;
    height: 100px; 
    width: 100px;
    text-align: center; 
    justify-self: right;
    
} */



/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
}
 */





 /* @media(max-width:780px){
    p{
        font-size: 20px;
    }
 }
 @media(min-width:520px){
    p{
        font-size: 5px;
    }
 }
@media(orientation: landscape){
    body{
        background-color: rgb(178, 163, 180);
    }
}

.box{
    width: 100px;
    height: 100px;
    background-color: rgb(139, 66, 66);
    text-align: center;


}
li{
    list-style-type: none;
}
nav ul{
    display: flex;
    justify-content: space-around;
} */





/* MENU */

/* body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display:flex;
    justify-content:space-around;
    align-items:center ;
    background: #333;
    padding: 1rem;

}

.logo{
    color: blue;
}
.hamburger {
    font-size: 2rem;
    color:brown;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: space-around;
} */


/* navigation */
body{ 
    margin:0;
    font-family: Arial, sans-serif;
}
nav{
   display: flex;
justify-content: space-between;
align-items: center;
background: #333;
padding: 1rem;
}
.logo{ color:#fff;
font-size: 1.5rem;
}
.menu{ 
    display: none;
    background: #444;
    position: absolute;
top: 60px;
right: 20px;
width: 200px;
}
.menu a { 
    color:#fff;
    padding:1em;
text-decoration: none;
display: block;
}
.hamburger{
     font-size:2rem;
    color:#fff;
     cursor:pointer;
}
@media(min-width: 768px){
.menu{
     display:flex;
flex-direction: row;
position: static;
background: none;
width: auto;
}
.hamburger{
     display: none;
}
}