/* h2{
    color:blueviolet
}
p{
    text-align: center;
    font-size: 25px;
    color:brown
}


/*       to target class we use .     */


/* .par{
    color:aquamarine
} */


/*     to target id we use #     */
/* #av{
    color:blue
} */




/* 
#av2{
    color:rgb(27, 102, 0)
}



div{height: 10px;
    width: 500px;
    color:rgb(13, 222, 9); */
    /* background-color: aqua; */
    /* text-align: center; */
    /* for vertical alignment */
    /* align-content: top; 
    padding: 30px;
    margin: 50px;
    border: 2px solid red;
} */



.container
{
    display: grid;
   height: 500px;
   width: 500px;
   background-color: lightgrey;
   border: 2px solid black;
   grid-template-columns: repeat(4,100px);
   grid-template-rows: repeat(3,1fr);
   grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
   column-gap: 10px;
   justify-items: center ;
   align-items: center;
   justify-content: space-around;
   align-content: space-around;
}
.item{
    border: 2px solid black;
    background-color: lightblue;
    height: 100px; 
    width: 100px;
    text-align: center; 
    justify-self: right;
    
}
/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
}
 */
