h2{
    color:blueviolet
}
p{
    text-align: center;
    font-size: 25px;
    color:brown
}


/*       to target class we use .     */
.par{
    color:aquamarine
}


/*     to target id we use #     */
#av{
    color:blue
}





#av2{
    color:rgb(27, 102, 0)
}



div{height: 10px;
    width: 500px;
    color:rgb(13, 222, 9);
    /* background-color: aqua; */
    text-align: center;
    /* for vertical alignment */
    align-content: top; 
    padding: 30px;
    margin: 50px;
    border: 2px solid red;
}