.box{
    height: 108px;
    width: 108px;
    display:inline-block;
    border: 2px;
    box-align:center
    
}

.box1{
    background-color: rgb(22, 188, 188);
}

.box2{
    background-color: blue;
}
.box3{
    background-color: rgb(183, 27, 27);
}
.container{
    height: 300px;
    width: 800px;
    border: 2px solid black;
}

